#link-gametrade {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.userBar {
    a {
        color: #fff;
    }
}

.toolbar {
    padding: 0 1rem;
    font-family: "Pridi", serif;
    font-weight: 200;
}
