#product-list {
    list-style-type: none;
    padding-left: 0px;

    li > a {
        font-family: "Pridi", serif;
        font-weight: 200;
        line-height: 1rem;
    }
}

@media screen and (max-width: 575px) {
    #product-list {
        li {
            width: 366px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    }
}
