#signin-container {
    text-align: center;
    padding: 3rem;

    font-family: "Pridi", serif;

    label {
        display: inline-block;
        width: 80px;
        text-align: right;
        margin-right: 0.5rem;
    }

    input {
        padding: 0.2rem;
        margin-bottom: 0.3rem;
    }

    a {
        font-weight: 200;
    }

    #signin-btn {
        font-family: "Pridi", serif;
        width: 90px;
        margin-right: 0.5rem;
        margin-left: 115px;
        padding: 0.2rem;
    }

    #submit-group {
        padding-right: 8px;
    }
}
